VLLM_BASE_URL="http://localhost:8000/v1"
VLLM_MODEL="Qwen/Qwen3-14B-FP8"
VLLM_API_KEY="sk-"

SMALL_VLLM_BASE_URL="http://localhost:8080/v1"
SMALL_VLLM_MODEL="Qwen/Qwen3-8B-FP8"
SMALL_VLLM_API_KEY="sk-"

GROQ_API_KEY=""
HF_TOKEN=""
OPENAI_API_KEY=""
SERPAPI_API_KEY=""

# LOCAL_QDRANT_URL="http://localhost:6333"
# QDRANT__SERVICE__API_KEY=""

# Langfuse
LANGFUSE_SECRET_KEY=""
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_BASE_URL=""

# DOCLING
DOCLING_BEARER_TOKEN=teste
DOCLING_BASE_URL=http://127.0.0.1:8000
DOCLING_SUBMIT_URL=http://127.0.0.1:8000/document_to_markdown
DOCLING_STATUS_URL_TEMPLATE=http://127.0.0.1:8000/status/{task_id}
DOCLING_TIMEOUT_SECONDS=60
DOCLING_POLL_INTERVAL_SECONDS=2
