APP_NAME="VerificaAI"
APP_VERSION="0.6.0"
APP_TZ="America/Rio_Branco"
APP_ORIGINS=http://127.0.0.1:8001,http://localhost:8001,http://127.0.0.1:3000
ADMIN_API_TOKENS=""
AUTH_DB_PATH="db/auth.sqlite3"
DOCS_URL_ENABLED=true
ADMIN_DOCS_ENABLED=true
REDIS_URL="redis://localhost:6379/0"
RQ_QUEUE_NAME="completions"
RQ_JOB_TIMEOUT_SECONDS=600
RQ_RESULT_TTL_SECONDS=86400
RQ_FAILURE_TTL_SECONDS=86400

# Store Final Results
FINAL_RESULTS_QUEUE_NAME="final-results"
FINAL_RESULTS_JOB_TIMEOUT_SECONDS=60
FINAL_RESULTS_RESULT_TTL_SECONDS=86400
FINAL_RESULTS_FAILURE_TTL_SECONDS=604800
FINAL_RESULTS_RETRY_INTERVALS_SECONDS="10,30,60,300,900"
FINAL_RESULTS_API_URL="http://verificaai_painel_api_nginx/api/v1/final-results"
FINAL_RESULTS_API_TOKEN=""
FINAL_RESULTS_API_TIMEOUT_SECONDS=10

# Router LLM
# - provider: google | openai | vllm
# - base_url: use for openai/vllm, leave empty for google
ROUTER_PROVIDER="vllm"
ROUTER_MODEL="Qwen/Qwen3-8B-FP8"
ROUTER_API_KEY="sk-"
ROUTER_BASE_URL="http://localhost:8000/v1"

# Search LLM
# - provider: google | openai | vllm
# - base_url: use for openai/vllm, leave empty for google
SEARCH_PROVIDER="vllm"
SEARCH_MODEL="Qwen/Qwen3-14B-FP8"
SEARCH_API_KEY="sk-"
SEARCH_BASE_URL="http://localhost:8080/v1"

HF_TOKEN=""
SERPAPI_API_KEY=""

# API para converter conteúdo de site em markdown
FETCH_SITE_BASE_URL=http://127.0.0.1:8000
FETCH_SITE_BEARER_TOKEN=teste
FETCH_SITE_SUBMIT_URL=http://127.0.0.1:8000/document_to_markdown
FETCH_SITE_STATUS_URL_TEMPLATE=http://127.0.0.1:8000/status/{task_id}
FETCH_SITE_TIMEOUT_SECONDS=60
FETCH_SITE_POLL_INTERVAL_SECONDS=2

# PROMPTS
ROUTER_CLASSIFICATION_PROMPT=prompts/router_classification_prompt.md
SEARCH_AGENT_PROMPT=prompts/search_agent_prompt.md
TRANSCRIPTION_AGENT_PROMPT=prompts/transcription_agent_prompt.md
ROUTER_SYNTHESIS_PROMPT=prompts/router_synthesis_prompt.md

# Qdrant
QDRANT_DENSE_MODEL="intfloat/multilingual-e5-large"
QDRANT_SPARSE_MODEL="Qdrant/bm25"
QDRANT_COLBERT_MODEL="colbert-ir/colbertv2.0"
QDRANT_MAX_TOKENS=1024
QDRANT_COLLECTION_NAME="verifica-ai"

QDRANT_API_URL=""
QDRANT_API_KEY=""
QDRANT_API_PORT=""

# API de transcrição
TRANSCRIPTION_REQUEST_URL=""
TRANSCRIPTION_STATUS_URL=""
TRANSCRIPTION_API_KEY=""
TRANSCRIPTION_REQUEST_TIMEOUT_SECONDS=60
TRANSCRIPTION_POLL_INTERVAL_SECONDS=5
TRANSCRIPTION_TIMEOUT_SECONDS=480
